* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

img {
  width: 144px;
  height: 87px;
}

.header {
  background-color: #CF2B2B;
  height: 92px;
  width: 100%;
  padding-left: 13px;
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header p:nth-child(1) {
  font-family: "Righteous", serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 54.63px;
  letter-spacing: -1.2%;
  color: #FFFFFF;
}

.header p:nth-child(2) {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #FFFFFF;
}

.conteudo {
  background-color: #eeeeee;
  /* height: 100%; */
  margin-top: 92px;
  overflow: hidden;
  padding-left: 13px;
  padding-right: 13px;
}

.prato p:nth-child(1) {
  margin-top: 31px;
  font-family: "Righteous", serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 32.28px;
  letter-spacing: -1.8%;
  color: #333333;
}

.opcoes {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}

.opcao {
  width: 172px;
  height: 216px;
  border-radius: 9px;
  border: 5px solid #FFFFFF;
  margin-top: 17px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 13px 9px 8px 9px;
}

.selecionadoPrato {
  width: 172px;
  height: 216px;
  border-radius: 9px;
  border: 5px solid #32B72F;
  margin-top: 17px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 13px 9px 8px 9px;
}

.selecionadoBebida {
  width: 172px;
  height: 216px;
  border-radius: 9px;
  border: 5px solid #32B72F;
  margin-top: 17px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 13px 9px 8px 9px;
}

.selecionadoSobremesa {
  width: 172px;
  height: 216px;
  border-radius: 9px;
  border: 5px solid #32B72F;
  margin-top: 17px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 13px 9px 8px 9px;
}

.laterais {
  margin-right: 16px;
  margin-left: 16px;
}

.opcao :nth-child(2) {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  color: #333333;
}

.opcao :nth-child(3) {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 17.58px;
  color: #A6A6A6;
}

.opcao :nth-child(4) {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #000;
}

.bebida p:nth-child(1) {
  margin-top: 27px;
  font-family: "Righteous", serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 32.28px;
  letter-spacing: -1.8%;
  color: #333333;
}

.sobremesa p:nth-child(1) {
  margin-top: 27px;
  font-family: "Righteous", serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 32.28px;
  letter-spacing: -1.8%;
  color: #333333;
}

.final_conteudo {
  margin-bottom: 115px;
}

.footer {
  background-color: #FFFFFF;
  height: 92px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 23.44px;
  letter-spacing: 1.8%;
  align-items: center;
  justify-content: center;
  width: 364px;
  height: 61px;
  border-radius: 50px;
  background-color: #CBCBCB;
  padding-left: 80px;
  padding-right: 80px;
  border: none;
}

.botaoHabilitado{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 23.44px;
  letter-spacing: 1.8%;
  align-items: center;
  justify-content: center;
  width: 364px;
  height: 61px;
  border-radius: 50px;
  background-color: #32B72F;
  padding-left: 80px;
  padding-right: 80px;
  border: none;
}